<nav>
   <ul>
      <li>
         <a href="/">Home</a>
      </li>
      <li>
         <a href="/myFlights">My Flights</a>
      </li>
      <li>
         <a href="/addFlight">Add Flight</a></li>
   </ul>
</nav>